In [33]:
# Put the codes into the string variable
code_problem_1 = """

#import pandas library
import pandas as pd
#load the .csv file into a data frame named cars
cars = pd.read_csv('cars.csv')
#print the first five rows of the resulting cars
print("First Five\n",cars.head())
#print the last five rows of the resulting cars
print("Last Five\n",cars.tail())
"""
#writing the code block to a python file 
file_1 = open('Arboso_Pandas-P1.py','w')
file_1.write(code_problem_1)
#close the file
file_1.close()

In [34]:
#Put the codes into string variable
code_problem_2 = """

#import pandas library
import pandas as np

#load the .csv file into dataframe named cars
cars = pd.read_csv('cars.csv')

#print selected rows and column
print("A.\n",cars.iloc[0:5:1,1::2])

#prints all the rows the the Model is "Mazda RX4"
print("B.\n",cars.loc[cars['Model']=='Mazda RX4'])

#prints the cyl coloumn where the model is CamaroZ28
print("C.\n",cars.loc[(cars['Model']=='Camaro Z28'),['cyl']])

#prints the cyl and gear coloumn for the 3 specific models
print("D.\n",cars.loc[cars['Model']=='Mazda RX4 Wag',['cyl','gear']])
print(cars.loc[cars['Model']=='Ford Pantera L',['cyl','gear']])
print(cars.loc[cars['Model']=='Honda Civic',['cyl','gear']])

"""
# Writes those code into python file
file_2 = open('Arboso_Pandas-P2.py','w')
file_2.write(code_problem_2)
# Closed the file
file_2.close()

In [29]:
cars.loc[(cars['Model']=='Camaro Z28'),['cyl']]

    cyl
23    8

In [32]:


cars.loc[cars['Model']=='Honda Civic',['cyl','gear']]

    cyl  gear
18    4     4